.red {
    background-color: red;
    overflow: hidden; /* clearfix with overflow */
}

/**
 * Clearfix with pseudo element
 */
/*.red::after {
    clear: both;
    content: '';
    display: block;
}*/

.blue {
    float: left;
    width: 100px;
    height: 100px;
    background-color: blue;
}

.yellow {
    margin-left: 100px;
    background-color: yellow;
}










