#seg1 {
	background-color: red;
}

#seg2 {

}

#seg3 {
	background-color: orange;
}

#seg4 {

}

#seg5 {
	background-color: yellow;
}

#seg6 {

}

#seg7 {
	background-color: green;
}

#seg8 {

}

#seg9 {
	background-color: blue;
}

#seg10 {

}

#seg11 {
	background-color: indigo;
}

#seg12 {

}

#seg13 {
	background-color: violet;
}