p, h1, ul {
    background-color: red;
}

div, header, footer, nav, aside {
    background-color: blue;
}

span, b, em, a {
    background-color: magenta;
}



p span {
    background-color: green;
    /*padding: 300px;*/
}