
/**
How do you center inline elements within their parent?
You do text-align: center; on the parent
*/
.container {
    background-color: green;
    text-align: center;
}

.container a {
    background-color: red;
}



/**
How do you center block elements within their parent?
margin: auto; on the child that needs centering
*/
.container2 {
    background-color: green;
}

.container2 div {
    background-color: red;
    width: 300px;
    margin: 0 auto;
}



/**
How do you center block-like elements side-by-side, and have them centered
solution: inline-block on children; and text-align: center; on parent
*/
.container3 {
    background-color: green;
    text-align: center;
}

.container3 div {
    background-color: red;
    display: inline-block;
    width: 200px;
    height: 120px;
}