{{#each this}}
<div class="product">
    <div>
        <a href="/#/product/{{product_id}}">
            <img src="/uploaded_files/{{file_id}}.jpg" width="50px">
        </a>
    </div>
    <div>
        
        <h1>{{name}}</h1>
        <div>{{sku}}</div>

    </div>
</div>
{{/each}}