.hero {
    background-color: yellow;
}

.hero > div {
    background: lightblue;
    margin: 0 auto;
    width: 960px;
    min-height: 300px;
}

@media screen and (min-width: 800px) {

    .hero > div {
        background-color: red;
    }

}