nav a {
    background-color: green;
    padding: 10px;
    display: inline-block;
}


.primary-header nav a:first-child {
    -webkit-border-radius: 10px 0 0 0;
    border-radius: 10px 0 0 0;
}

.primary-header nav a:last-child {
    -webkit-border-radius: 0 10px 0 0;
    border-radius: 0 10px 0 0;
}

