/* Overrides */

@media (min-width: 768px){
    .col-sm-6 {
    width: 48%;
    }
}

@media (min-width: 1200px){
    .col-lg-4 {
        width: 32.4%
    }
}

.btn-primary{
    background-color:#0e97c0;
    border-color:#3f6470;
}

.btn .txt {
    margin-left:1em;
    font-size: 25px;
    margin-left: 25px;
    position: absolute;
    top: 10px;
}

.btn:hover{
    color:#0f4075;
    
}

.popover{
    max-width: 300px;
}

.header{
    height: 270px;
    position: relative;
}

/* Custom Styles */

.popover .table{
    font-size: 10px;
}

img.resize{
    height:269px; /* you can use % */
    
    sfloat:right;
    position: absolute;
    right:0;
    bottom:0;
    z-index: 2;
}

.navbar-title {
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    color: #0e97c0;
    background: #fff;
    position: absolute;
    top: 55px;
    left:45px;

}

.navbar-row {
    background: #0e97c0;
    background: #1592C3;
    height: 50px;
    position: absolute;
    bottom:0px;
    left: 0px;
    right:0px;
    z-index: 1;
    line-height: 50px;
    
}

.navbar-row .btn {
    padding: 0px;
    margin: 0px;
    border: 0px;
    background-color: #1592C3;
    color: white;
    font-size: 2.5em;
    vertical-align: middle;
    padding-left: 50px;
    padding-right: 100px;
    font-weight: 100;
}


.container {
    margin-top: 50px;
}


.gm {
    sborder:20px solid white;
    margin: 5px;
    height:250px;
    padding:0px;
    overflow: hidden;
    text-align: center;
}

.gm h2 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    margin: 0px;
    padding:0px;
    color: white;
}

.gm img, .game-main img {
    width:100%;
}

.gm i{
    padding-top: 29px;
    font-size: 100px;
    color:#fff;
}

.gm a{
    display: block;
    height: 100%;
}

.gm-default {
    background-color: #c52f2b;
}

.gm-primary {
    background-color: #0e97c0;
}

.gm-primary2 {
    background-color: #a0c53b;
}

.gm-primary3 {
    background-color: #3f6470;
}

.gm-primary4 {
    background-color: #0f4075;
}

.gm-secondary {
    background-color: #5e5e5e;
}

.gm-secondary2 {
    background-color: #b9b9b9;
}

.gm-tertiary {
    background-color: #cf7338;
}

.gm-tertiary2 {
    background-color: #e2b356;
}

.gm-popup {
    display:none;
}


.game-main .logo{
    height: 181px;
    text-align: center;
}

.game-main i {
    padding-top: 29px;
    font-size: 100px;
    color:#fff;
}

*[hidden] { display: none; }

.sidebar-module {
    margin-bottom: 1em;
}

.btn-join{
    font-size: 1.6em;
    background-color: #c52f2b;
}


.header a:hover{
    text-decoration: none;
}

.reg {
    margin-bottom: 9px;
    overflow: auto;
}
.reg .reg-option {
    text-align: center;
    width: 33%;
    padding: 6px 9px;
    float:left;
}

.reg-option .reg-value {
    border: 1px solid #ccc;
    padding: 6px 9px;
    margin: 5px 35px;
    font-size: 21px;
}

.popover .reg-option{
    font-size: 12px;
}
.popover .reg-option .reg-value {
    margin: auto;
    font-size: 12px;
}

footer .container {
    background-color: #000;
    height: 430px;
    margin: 0px;
    padding:0px;
    width:100%;
    overflow:hidden;

}

footer .container img {
    opacity: 0.5;
    margin: 0px;
    padding: 0px;
    width: 100%;
    margin-top: -200px;
}

footer .navbar {
    background-color: #1592C3;
}

footer .navbar ul li {
    float: left;
    margin: 15px 15px 10px 0;
    padding-right: 15px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    border-right: 1px solid #3f6470;
    list-style: none;
}

footer .navbar a {
    font-size: 17px;
    font-weight: bold;
    color: #fff;
}
footer .navbar a:hover {
    text-decoration: none;
}

footer .sponsor {
    sposition: absolute;
    sz-index: 10;
    background-color: rgba(255,255,255,0.85);
    text-align: center;
    height: 100px;
    padding: 6px 0px;
}
footer .sponsor img {
    max-width:100%; 
    max-height:100%;
}

.carousel-caption p, .carousel-caption h1 {
    text-align: left;
}


.carousel-inner .item {
    background-color: #000;
    height: 350px;
    margin: 0px;
    padding:0px;
    width:100%;
    overflow:hidden;
}
.carousel-inner .item img {
    opacity: 0.5;
    margin: 0px;
    padding: 0px;
    width: 100%;
    margin-top: -200px;
}

/*div {
    border: 1px solid #ccc;
    padding: 1px;
}*/

