/*  ***************************************************

Avnet Color Scheme
Primary Color 1 (red)            #e22422  - logo, tagline box, links, sub headlines

Primary Color 2 light-blue       #0593bc  - Top Headlines, colored circles for icons, colored bar
Primary Color 2 light-green      #8cb31a  - Top Headlines, colored circles for icons, colored bar
Primary Color 2 turquoise-muted  #1b5c67  - Top Headlines, colored circles for icons, colored bar
Primary Color 2 deep-blue        #02406e  - Top Headlines, colored circles for icons, colored bar

Secondary Colors  dark-gray      #575757  - Copy text, social media icons
Secondary Colors  light-gray     #b2b2b2  - lines, tables

Tertiary Colors  Orange          #eb6730  - Limited: reserved for PPT charts and websites!
Tertiary Colors  dark yellow     #eb6730  - Limited: reserved for PPT charts and websites!

*/

* {
  font-family: arial, sans-serif;
  color: #575757;
}

body {
  background-color: white;
  padding: 10px;
}

header {
  background-color: #fff;
  color: #575757;
  text-decoration:none;
  text-align: center;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

h1 {
  /*margin-top: 5px;*/
  color: #02406e;
  font-size: 36px;
  display: inline-block;
}

header a {
  color: #e22422;
}

header img {
  float: left;
  margin-top: -10px;
}

nav {
	float: right;
  margin-top: 20px;
  font-size: 22px;
  font-weight: bold;
  text-decoration:none;
}

.subhead {
  border-radius: 20px 20px 0 0;
  padding: 20px;
  background-color: #02406e;
  color: white;
  font-size: 28px;
  font-weight: bold;
}

.main {
  margin-left: auto;
  margin-right: auto;
  background-color: #b2b2b2;
  padding: 20px;
}

.games-list {
  background-color: white;
  border-radius: 15px;
  padding: 10px;
  max-width: 700px;
  margin: 10px;
}

ul {
  max-width: 500px;
}

.form {
  max-width: 700px;
  width: 90%;
  border-radius: 5px;
  opacity: 1;
  padding: 15px;
}

.form p {
  margin-left: 40px;
  color: #e22422;
  font-size: 18px;
}

input, textarea {
  background-color: white;
  color: #575757;
  font-size: 22px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  min-width: 100px;
  opacity: 1;
  border: none;
}

.create-game {
  float: right;
  margin-top: -10px;
}

.submit_game, .create-btn {
  background-color: white;
  margin-left: 200px; 
  border-radius: 10px;
  padding: 10px;
  font-size: 22px;
  font-weight: bold;
  color: #575757;
  border: none;
}

footer {
  padding: 5px;
  background-color: #02406e;
  border-radius: 0 0 20px 20px;
}

footer h1 {
  color: white;
}