/****************************************
  Inherited Styles
*****************************************/

body {
    font-family: Arial;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
    color: inherit;
}




/****************************************
  Defaults
*****************************************/

a {
    color: orange;
}

h1 {
    color: red;
}



/****************************************
  Helpers aka Utilities
*****************************************/





/****************************************
  Layout
*****************************************/





/****************************************
  Components
*****************************************/

nav {
    background-color: #333;
    padding: 5px;
    color: blue;
}

nav > a {
    color: inherit;
}