section {
    overflow: hidden;


}

table {
  border-collapse: collapse;
  display: block;
  float: left;
  margin: 10px;

}


td, th {
  
  padding: 0.5rem;
  text-align: left;
  border: 1px solid #999;
}

th {
    background-color: #969F85;
    border: none;
    
}