
.cf::after {
    content: '';
    display: table;
    clear: both;
}

.page {
    background-color: green;
    overflow: hidden;
}

aside {
    background-color: yellow;
    width: 250px;
    float: left;
    min-height: 200px;
}


main {
    background-color: lightblue;
    margin-left: 250px;
    min-height: 300px;
    padding: 10px;
    /*overflow: hidden;*/
}





.tweet {
    margin-top: 10px;
    background-color: green;
    overflow: hidden;
}

.graphic {
    background-color: yellow;
    width: 100px;
    height: 100px;
    float: left;
}


.content {
    background-color: blue;
    margin-left: 105px;
    /*overflow: hidden;*/
}