.page {
  margin: 0 auto;
  width: 960px; }

header {
  height: 100px;
  background-color: green; }

.main-content {
  display: flex;
  min-height: 100px; }

aside {
  width: 200px;
  background-color: #ddd; }

main {
  flex: 1;
  background-color: #aaa;
  padding: 10px; }

.product {
  background-color: yellow;
  margin-top: 10px; }
