.page {
    background-color: red;
    padding: 10px;
}

.page aside img {
    display: none;
}

.page main {
    min-height: 200px;
    background-color: green;
}

p {
    margin: 0;
}

@media screen and (min-width: 700px) {
    .page aside {
        display: block;
        background-color: orange;
        min-height: 200px;
    }
}

@media screen and (min-width: 1000px) {

    .page {
        width: 960px;
        margin: 0 auto;
        overflow: hidden;
    }

    .page aside {
        width: 200px;
        float: left;
    }

    .page main {
        margin-left: 210px;
    }

    p {
        -webkit-column-count: 3;
    }

}






























