header {
    background-color: red;
    padding: 4px;
    height: 80px;
    position: relative;
}

.logo {
    background-color: green;
    position: absolute;
    left: 10px;
    top: 10px;
    
}

nav {
    background-color: green;
    position: absolute;
    right: 10px;
    bottom: 10px;
}