div.tiles {
	background-color: lightblue;
	width: 500px;
	padding-left: 10px;
	padding-bottom: 10px;
}

div.tiles > div {
	background-color: green;
	width: 73px;
	height: 90px;
	display: inline-block;
	color: #FFF;
	vertical-align: top;
}

div.tiles > div:nth-child(3) {
	background-color: lime;
	height: 110px;
}