*
{ 
    margin: 0;
    padding: 0;
}

html
{ 
	height: 100%;
	
}

body{
	/*background-image: url('123.jpg');*/
	/*background-image: url("img/169.png");*/
    background-color: #C6D4E1;
	
}

header, footer, nav{ 
	display:block;
}

header{
	margin-left: auto; 
	margin-right: auto;
	height: 80px;
	border: 15px 15px 0px 0px; 
	/*background-color: rgba(5,5,197, 0.6);*/

}

.main {
	
	padding: 10px;
	overflow: hidden;
	margin-bottom: 30px;
	min-height: 400px;
	margin-top: 1px;
	/*background-color: rgba(0,191,255,0.1);*/
	border: 0px 0px 15px 15px;
	/*box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;*/
	/*background-image: url("169.png");*/

}

footer{
	margin-left: auto; 
	margin-right: auto;
	height: 50px;
	margin-bottom: 20px;
	padding-top: 25px;
	padding-bottom: 20px;
	background: #0043A8;
	background: (#43A9FF, #0043A8);
	border: 15px;
	/*box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
	background-color: rgba(5,5,197, 0.6);*/
	border: 2px solid #000;
	

}
nav{
	margin-left: auto; 
	margin-right: auto;
	height: 50px;

}

ul#nav
{ 
	margin:0;
}

ul#nav li
{
 	padding: 0px;
	list-style: none;
	margin: 2px 0 0 0;
	display: inline;
	background: transparent;
}

ul#nav li .link
{ 
	float: left;
	font: bold 130% 'PacificoRegular', Arial, sans-serif;
	height: 24px;
	margin: 8px 0 0 20px;
	text-shadow: 0px 1px 0px #000;
	padding: 0px 20px 10px 20px;
	background: transparent; 
	border-radius: 7px;
	border: 7px;
	text-align: center;
	color: #FFF;
	text-decoration: none;
} 

ul#nav li .login{
	float: right;
	color: white;
	padding-top: 5px;
	padding-right: 10px;

}
	
ul#nav li.current a, ul#nav li:hover a
{ 
	color: #000;
	/*background: #BDBDBD;
	background: (#2E2E2E, #848484);*/
	text-shadow: none;
}



.main
{

	padding: 15px;
	border: solid 2px black;
	margin-top: 10px;
	overflow: hidden;
	margin: auto;
	border: 2px solid #000;
	/*background-color: rgba(5,5,197, 0.3);*/
	/*background-image: url("169.png");*/

	
}

#project {
margin: 0 90px;
text-align: center;
overflow: hidden;

}

 #project div
{
	
	
	margin: 20px;
	min-height: 300px;
	width: 28%;
    float: left;
	background-color: orange;
	display: block;
	border: 2px solid #000;
   	border-radius: 13px;
    /*background-color: rgba(5,5,197, 0.6);
*/
}

aside{
	width: auto;
	height: 400px;
	 border: 2px solid #000;
    /*background-color: rgba(255,255,255, 0.3);*/

}



/*----------Slider CSS Below------------------*/

.futurico-theme .slider-wrapper {
    position: relative;
    width: auto;
    height: 390px;
    margin: 0;
    padding: 5px;
 
    background: #141517;
 
   
}
 .futurico-theme .slides {
    position: relative;
    width: auto;
    height: 390px;
}
 
.futurico-theme .slides img {
    display: none;
    position: absolute;
    width: auto;
    height: 390px;
    top: 0;
    left: 0;
}

.futurico-theme .nivo-controlNav {
    position: absolute;
    bottom: -30px;
    left: 105px;

}

.futurico-theme .nivo-controlNav a {
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    text-indent: -9999px;
   
 
    background: #141517;
 
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
 
    -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0, .5), 0px 1px 1px rgba(255,255,255, .05);
    -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0, .5), 0px 1px 1px rgba(255,255,255, .05);
    box-shadow: inset 0px 1px 1px rgba(0,0,0, .5), 0px 1px 1px rgba(255,255,255, .05);
}

.futurico-theme .nivo-controlNav a.active,
.futurico-theme .nivo-caption span {
    background: #a5cd4e;
    background: -moz-linear-gradient(top,  #a5cd4e 0%, #6b8f1a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5cd4e), color-stop(100%,#6b8f1a));
    background: -webkit-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
    background: -o-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
    background: -ms-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
    background: linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
 
    -webkit-box-shadow: inset 0px 1px 1px rgba(255,255,255, .4), 0px 1px 1px rgba(0,0,0, .3);
    -moz-box-shadow: inset 0px 1px 1px rgba(255,255,255, .4), 0px 1px 1px rgba(0,0,0, .3);
    box-shadow: inset 0px 1px 1px rgba(255,255,255, .4), 0px 1px 1px rgba(0,0,0, .3);

}

