.media {
     min-height: 550;
     overflow:hidden;
     margin-top: 6px;
     sbackground-color:yellow;
}
.media > img {
    float: left;
    width: 200px;
}
.media > div {
    margin-left: 206px;
    sbackground-color:blue;
}

.media .title {
    font-size: 24px;
}

.media > div h2 {
    font-size: 16px;
    font-weight: 100;
}

@media(min-width: 500px){
    .media .title {
        font-size: 16px;
        text-transform: uppercase;
    }

    .media img {
        width: 240px;
    }

    .media > div {
        margin-left: 246px;
    }

    .media > div h2 {
        font-size: 1.5em;
        font-weight: bold;
    }

}