/*
Use These Properties
------------------------
font-size: 27pt;
font-size: 30pt;
font-size: 70px;
margin-top: 25px;

height: 50px;
height: 80px;
width: 50px;
width: 150px;

float: right;
float: left;
text-align: left;
text-align: right;


*/

@media(min-width:600px) {

    .hero .intro h1 {
        
    }

    .hero .intro h1 small {
        
    }

    .breakout {
        
    }
    
    .breakout .image {
        
    }

    .breakout .content {
        
    }


}
