/*  *************************************************

Avnet Color Scheme
Primary Color 1 (red) #e22422 - logo, tagline box, links, sub headlines

Primary Color 2 light-blue #0593bc - Top Headlines, colored circles for icons, colored bar
Primary Color 2 light-green #8cb31a - Top Headlines, colored circles for icons, colored bar
Primary Color 2 turquoise-muted #1b5c67 - Top Headlines, colored circles for icons, colored bar
Primary Color 2 deep-blue #02406e - Top Headlines, colored circles for icons, colored bar

Secondary Colors dark-gray #575757 - Copy text, social media icons
Secondary Colors light-gray #b2b2b2 - lines, tables

Tertiary Colors Orange #eb6730 - Limited: reserved for PPT charts and websites!
Tertiary Colors dark yellow #eb6730 - Limited: reserved for PPT charts and websites!

*/

*{
	margin: 0;
	padding:0;
	font-family: Arial;
	color: #575757;
}

body{
	min-width: 860px
}

header{
	background-color: #fff;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: center;
	overflow: hidden;
	/*border-bottom: 1px solid #b2b2b2;*/
}

.logo{
	float: left;
}

h2{
	display: inline-block;
	font-size: 36px;
	margin-top: 5px;
}

.siteNav{
	float:right;
	color:#e22422;
	margin-top: 44px;
}

.siteNav a{
	color:#e22422;
	margin: 1px;
}

.divider1{
	display: inline-block;
	width:75%; 
	height: 15px;
 	float:left;
 	clear: left;
 	background-color: black;
 	z-index: 2;
}

.divider2{
	display: inline-block;
	width:75%;
	height:15px;
	float: right;
	background-color: #e22422;
	border-top-left-radius: 100px;
	position: absolute;
	right:0;
	top: 66px;
	z-index: 5;
}

.mainContainer {
	margin-top: 15px;
}

/*.blank {
	border-right: 1px solid #b2b2b2;
	min-height: 100px;
	/*Take out tab borders, use gray/white bg for contrast instead*/
/*}
.tabs {
	float: left;
	font-weight: bold;

}

.signinInfoTab, .contactInfoTab, .myGamesTab, .myTeamsTab{
	border-bottom:1px solid #b2b2b2;
	border-right: 1px solid #b2b2b2;
	padding: 5px;
	background-color: #ddd;
}

.myProfileTab {
	border-bottom: 1px solid #b2b2b2;
	border-top: 1px solid #b2b2b2;
	padding: 5px;
}*/

/*.myProfile {
	margin-left: 120px;
	background-color: #fff;
}*/

#tabs-1 img {
	width: 300px;
	height: 300px;
	float: right;
	margin: 20px;
}

.profileInfo {
	padding-top: 10px;
	min-width: 810px;
}

.profileInfo div, .contactInfo div, .signinInfo div, .schedule div{
	overflow: hidden;
}

.profileInfo span, .contactInfo span, .signinInfo span, .schedule span{
	display: inline-block;
	float: left;
	width: 100px;
	font-weight: bold;
	padding: 10px;
	text-align: right;

}

.profileInfo p, .profileInfo input, .contactInfo p, .signinInfo p, .schedule p{
	display: inline-block;
	width: 70%;
 	padding: 10px 0 0 10px;
	
}

#passwordChange{
	display: inline-block;
	margin-top: 10px;
}

p.schedule {
	font-weight: bold;
	padding: 10px;
}

.scheduleItem span{
	text-align: left;

}

span.time {
	width: 200px;
}

/* vertical tab ui*/
.ui-tabs-anchor{
background-color: #ddd;
}

.ui-tabs-active a{
	background-color: #fff;
}
