/*  *************************************************

Avnet Color Scheme
Primary Color 1 (red) #e22422 - logo, tagline box, links, sub headlines

Primary Color 2 light-blue #0593bc - Top Headlines, colored circles for icons, colored bar
Primary Color 2 light-green #8cb31a - Top Headlines, colored circles for icons, colored bar
Primary Color 2 turquoise-muted #1b5c67 - Top Headlines, colored circles for icons, colored bar
Primary Color 2 deep-blue #02406e - Top Headlines, colored circles for icons, colored bar

Secondary Colors dark-gray #575757 - Copy text, social media icons
Secondary Colors light-gray #b2b2b2 - lines, tables

Tertiary Colors Orange #eb6730 - Limited: reserved for PPT charts and websites!
Tertiary Colors dark yellow #eb6730 - Limited: reserved for PPT charts and websites!

*/

*{
	margin: 0;
	padding:0;
	font-family: Arial;
	color: #575757;
}

body{
	background-color: #ddd;
	padding: 20px;
}

.mainContainer{
	width: 50%;
	min-width: 650px;
	margin: auto;
	border: 2px solid black;
}

header{
	background-color: #fff;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: center;
	overflow: hidden;
}

.logo{
	float: left;
}

h2{
	display: inline-block;
	font-size: 36px;
	margin-top: 5px;
}

.siteNav {
	float:right;
	color: #e22422;
	margin-top:30px;
}

.siteNav a{
	color: #e22422;
	margin:3px;
}

.formTitle{
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	background-color: #1b5c67;
	overflow: hidden;
	color: #fff;
}

.formTitle span{
	display: inline-block;
	overflow: hidden;
	margin:3px;
	color: #fff;
}

form{
	padding:5px;
}
input{
	margin:3px;
	border: 0px;
}

button{
	width: 50px;
	margin:3px;
	font-weight: bold;
}

span {
	border: 0px;
	/*margin: 4px;*/
	/*float: left;*/
	/*min-height: 50px;*/
	display: block;
	font-size: 8pt;
}

