/****************************************
  Inherited Syles
*****************************************/

/*
See this explanation for details
https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*/

html {
    box-sizing: border-box;
    color: #444;
    font: 12pt 'Open Sans', Arial;
    font-weight: 300;
}

*, *::before, *::after {
    box-sizing: inherit;
    color: inherit;
    font: inherit;
}



/****************************************
  Defaults
*****************************************/


/****************************************
  Helpers
*****************************************/


/****************************************
  Layout
*****************************************/


/****************************************
  Components
*****************************************/