{% extends 'RockITTechgamesBundle::layout.html.twig' %}

{% block content %}
    <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-12">

            <p class="pull-right visible-xs">
                <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
            </p>
            <h3>Avnet Tech Games History</h3>
            <p>
                The Avnet Tech Games was started in 2006 as a partnership between Avnet Inc. and the Maricopa County Community College District. The competition was created as an effort to bridge the gap between college curriculum and high tech industry standards. Subsequently, the Avnet Tech Games was opened to all Arizona college students and then to college students nationwide through the virtual game competition.
            </p>
            <p>
                By providing students with an opportunity to apply what they learn in school to real-world scenarios, while giving them a chance to earn scholarships, the annual Avnet Tech Games (ATG) competition encourages their dreams, and also connects them with professionals who can help make their dreams a reality. Now the competition is open to Arizona college students, as well as to students nationwide through our virtual games. Competitive events are developed to challenge students in computer science, engineering, IT, business and environmental science disciplines.
            </p>
            <p>
                Since its inception, more than 2,600 students and 100 faculty members from 85 colleges have participated in the Avnet Tech Games. Almost $300,000 has been awarded in student scholarships and faculty honorariums.
            </p>
            <h3>How the Avnet Tech Games benefit the students</h3>
            <p>
                Thousands of students will graduate and apply for the same jobs, but the ones who get the best jobs have one thing in common: experience outside the classroom. Adding the Avnet Tech Games to your resume can be the difference that can land you the job that will launch your career.
            </p>
            <h3>What it means to be a Faculty Sponsor</h3>
            <p>
                Help set your students apart from everyone else by giving them the chance to participate in this year’s Avnet Tech Games. First place team members will each win a scholarship, with each student receiving up to $1,000 in value.
            </p>
            <p>
                Each faculty member submitting a team or teams that participate in the onsite competition on game day will receive a $200 honorarium. Faculty members will receive an additional $300 honorarium for each winning team they sponsor.
                <br>
                The Avnet Tech Games provides participating faculty members with the opportunity to:
            <p>
            <ul>
                <li>Integrate real-world experience within the current curriculum</li>
                <li>Showcase the knowledge students have gained in the classroom</li>
                <li>Gain recognition for successful teaching practices</li>
                <li>Win prizes for the school, equipment and software</li>
            </ul>
            <p>The competition inspires and engages young people in a variety of ways:</p>
            <ul>
                <li>Helps students learn skills that will prepare them for success in real-world positions.</li>
                <li>Provides opportunities to participate in a networking hour, which exposes students to industry experts in a relaxed</li>
                <li>social setting where they can ask questions and obtain insight into their STEM profession.</li>
            </ul>
            <h3>Would you like to be a ATG Sponsor?</h3>
            <p>Want your company to be front and center at a championship competition? Here’s your chance to be a sponsor of the annual Avnet Tech Games. If your game plan includes scouting future talent, enhancing technology workforce education, building your brand and exercising good corporate citizenship, the Avnet Tech Games is for you. We offer a full range of high-value sponsorship packages that make it easy for you to join our all-star roster.  The award-winning ATG offers interested sponsors a wide range of options that include advertising, marketing and branding opportunities, including local Arizona opportunities and national branding. </p>
            <p>
                As we get closer to the 10th Anniversary of the Avnet Tech Games, expect to see more on when you can register for a game, announcements from the Game Owners about important upcoming dates. Also, make sure to keep an eye on the Calendar page for upcoming deadlines that might apply to you and your team.
            </p>
        </div><!--/span-->
    </div><!--/row-->
{% endblock %}


